footer header{
 margin: 50px 0px;
 font-size: 50px;
 background-size: cover;
}

.wrapper{
  background-color:#041D37;
}

.magictime{
  text-align: right;
  text-decoration: none;
}
.magictime:hover{
  color:#DBFF70;
  font-size:80px;
  }

body{
background-image: url("magicmikebackground.jpg");
font-family: sans-serif;  /*find google font to replace above*/
 margin: 0px auto;
 text-align: center;
 width: 700px;
}
.title{
font-family: 'Sigmar One', cursive;
  font-size: 50px;
  background-color: black;
  color:white;
}
.result{
  font-size: 4em;
}
.score{
  font-size: 3em;
}
.gameView{
    padding: 50px;
    margin: 0 auto;
}
.endGameView{
  background:yellow;
  width:400px;
  height:400px;
}
.submitButton{
  color:black;
}
#question{
  border:medium solid white;
  font-size: 2em;
  padding: 50px;
  color:white;
}


input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
