footer header{
 margin: 50px 0px;
 font-size: 50px;
 background-size: cover;
}

.wrapper{
  background-color:white;
  border: medium solid black;
  height:500px;
}

.magictime{
  text-align: right;
  text-decoration: none;
}
.magictime:hover{
  color:#DBFF70;
  font-size:80px;
  }

body{
  font-family: 'Passion One', cursive;
  /*find google font to replace above*/
 margin: 0px auto;
 text-align: center;
 width: 700px;
}
.title{
  font-family: 'Passion One', cursive;
  font-size: 50px;
  background-color: black;
  color:white;
}
.result{
  font-size: 5em;
}
.score{
  font-size: 3em;
}
.gameView{
    padding: 50px;
    margin: 0 auto;
}
.endGameView{
  background:white;
  color:black;
  margin: 0 auto;
}


#question{
  border:medium solid black;
  font-size: 2em;
  padding: 50px;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
